* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #8c52ff;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
}

html {
  height: 500vh;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
}

#header img {
  width: 250px;
}

#header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

#header nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2em;
}

#header nav ul li a:hover {
  color: var(--primary-color);
}

.btn-contato button {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.banner {
  background: url('../img/banner.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  text-align: center;
}

.banner h1 {
  font-size: 4em;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.banner h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.banner p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.banner a button {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.banner a button:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
}