* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #8c52ff;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
}

html {
  height: 500vh;
  scroll-behavior: smooth;
  background-color: var(--tertiary-color);
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header {
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

#header.sticky {
  background-color: var(--secondary-color);
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 4%;
}

#header.sticky nav ul li a {
  color: var(--tertiary-color);
}

#header img {
  width: 290px;
}

#header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

#header nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2em;
}

#header nav ul li a:hover {
  color: var(--primary-color);
}

.btn-contato button {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #btn-mobile {
    display: block;
  }
  #header #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0px;
    background-color: var(--tertiary-color);
    transition: .6s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 90px);
    visibility: visible;
  }
  #header #menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 0.1px solid var(--primary-color);
  }
  #header .btn-contato {
    display: none;
  }
  
}

.banner {
  background: rgba(0, 0, 0, 0.5) url('../img/banner.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  text-align: center;
}

.banner h1 {
  font-size: 4em;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.banner h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.banner p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.banner a button {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-radius: 30px;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.3s ease;
}

.banner a button:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
}